In [3]:
import requests
import json
import pandas as pd

In [4]:
response = requests.get('http://api.open-notify.org/astros.json') #ISS API

In [5]:
iss_data = response.json()  #DATA

In [11]:
df = pd.DataFrame(data=iss_data)   #CREATE OUR DATAFRAME WITH PANDAS
df

                                             people  message  number
0        {'craft': 'ISS', 'name': 'Mark Vande Hei'}  success      10
1          {'craft': 'ISS', 'name': 'Pyotr Dubrov'}  success      10
2      {'craft': 'ISS', 'name': 'Anton Shkaplerov'}  success      10
3  {'craft': 'Shenzhou 13', 'name': 'Zhai Zhigang'}  success      10
4   {'craft': 'Shenzhou 13', 'name': 'Wang Yaping'}  success      10
5    {'craft': 'Shenzhou 13', 'name': 'Ye Guangfu'}  success      10
6            {'craft': 'ISS', 'name': 'Raja Chari'}  success      10
7         {'craft': 'ISS', 'name': 'Tom Marshburn'}  success      10
8          {'craft': 'ISS', 'name': 'Kayla Barron'}  success      10
9       {'craft': 'ISS', 'name': 'Matthias Maurer'}  success      10

In [12]:
df.to_excel('PeopleInSpace.xlsx', index=False)  #CREATE A EXCEL FILE WITH OUR DATA